{% extends 'SpotMe/instructor_in_base.html' %}

{% block content %}
<div class="center-align">
    <h2>Welcome {{ instructor }}</h2>
    <h3>Instructor Home </h3>
    {% if instructor_courses %}
    <ul>
        {% for course_session in instructor_courses %}
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="{% url 'SpotMe:instructor_course_page' course_session.id %}">
                    {{ course_session.course }}
                </a>
            </div>
            <div class="panel-body">
                <div>
                    Semester - {{ course_session.semester }}
                    Year - {{ course_session.year }}
                    Toekn - {{ course_session.session_token }}
                </div>
                <div>
                    Instructor - {{ course_session.course_instructor.user.first_name }} {{ course_session.course_instructor.user.last_name }}
                </div>
            </div>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="{% url 'SpotMe:instructor_add_course_session' %}">
                Create New Course Session.
            </a>
        </div>
    </div>
</div>

{% endblock %}
